[Unit]
Wants=network-online.target
After=network-online.target
PartOf=mail-sync@%i.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -c %E/mbsync/config -V %i
Restart=on-failure
RestartSec=30
SyslogIdentifier=mbsync-%i
Slice=app-mailsync-%i.slice

[Install]
RequiredBy=mail-sync@.target
