! URxvt
URxvt*background: black
URxvt*foreground: white 
URxvt*font: xft:Inconsolata Regular:family=mono:size=11
URxvt.color12: DodgerBlue
URxvt.color4: DodgerBlue

! Disable printing terminal when PrintScreen

URxvt.print-pipe: "cat > /dev/null"

! Enable dynamic font-resizing and url opener
URxvt.perl-ext: matcher,resize-font
! Opening urls in firefox
URxvt.url-launcher: /usr/bin/xdg-open
! extensions matcher config
URxvt.keysym.C-o: matcher:last
URxvt.keysym.C-O: matcher:select
! Disable defautl bindings for Ctrl + and the like to work
URxvt.iso14755: false
URxvt.iso14755_52: false

! X
Xcursor.size: 20
